#{extends 'DemonstrationLeft.html' /}	
    <!-- 右侧 -->
	    <div class="con-right">
				<div class="cdcs-d">
					<nav class="navbar navbar-default nav-stacked"><span class="navbar-brand col-white" href="#">分项展示</span></nav>
					<ul class="cdcs-ul" >
					      <li role="presentation"><a href="#">光环境</a></li>
					      <li role="presentation"><a href="#">风环境</a></li>
					      <li role="presentation"><a href="#">热环境</a></li>
                    </ul>
				</div>
				<div class="cdcs-rig-d" >
					<div class="row">
					<div class="col-sm-12">
						<section class="panel" style="">
						      待确认
							<!-- <div class="list-group-item active">
								<h5 class="h5-tit">适宜技术</h5>
							</div>
							<div class="ene-rig-d">
							    <h4>适宜技术</h4>
							    <p>图片+文字介绍</p>
							</div> -->
					    </section> 
					</div>
					
				  </div>
				</div>
			</div>
