#{extends 'OnlineMonitLeft.html' /} #{set title:'方顶村-室内' /}
<div class="con-right">
    <div class="cdcs-d">
        <nav class="navbar navbar-default nav-stacked">
            <span class="navbar-brand col-white" href="#"> 测点参数 </span>
        </nav>
        <ul id="tree" class="ztree" style="width: 550px; overflow: auto; z-index: 500;"></ul>
    </div>
    <div class="cdcs-rig-d">
        <div class="row">
            <div class="col-sm-12">
                <section class="panel" style="">
                    <div class="list-group-item active">
                        <h5 class="h5-tit">室内环境</h5>
                    </div>
                    <div class="select-butt-d">
                        <label class="left-lab"></label> <label></label>
                    </div>
                    <div class="ene-rig-d">
                        <p class="ene-p-tit">>>仪表/传感器基本信息</p>
                        <div class="ene-type-d">
                            <div id="title"></div>
                            <table width="100%" class="ene-tab" id="tableDate">
                            </table>
                            <p class="ene-p-tit">>>[能耗]实时曲线（最近6小时曲线）</p>
                            <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                            <div id="main" class="curve-d"></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<script>
    //测点参数tree-JS
    (function($, window, document, undefined) {

        function addHoverDom(treeId, treeNode) {
            var sObj = $("#" + treeNode.tId + "_span");
            if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;
            var addStr = "<span class='button remove' id='removeBtn_" + treeNode.tId
                    + "' title='add node' onfocus='this.blur();'></span>";

            addStr += "<span class='button add' id='addBtn_" + treeNode.tId + "'></span>";
            addStr += "<span class='button edit' id='editBtn_" + treeNode.tId + "'></span>";
            sObj.after(addStr);
            var btn = $("#addBtn_"+treeNode.tId);
            if (btn) btn.bind("click", function(){
                var zTree = $.fn.zTree.getZTreeObj("treeDemo");
                zTree.addNodes(treeNode, {id:(1000 + newCount), pId:treeNode.id, name:"new node" + (newCount++)});
                return false;
            });
        }

        function removeHoverDom(treeId, treeNode) {
            $("#addBtn_"+treeNode.tId).unbind().remove();
            $("#removeBtn_"+treeNode.tId).unbind().remove();
            $("#editBtn_"+treeNode.tId).unbind().remove();
        }

        var setting = {
            check: {
                enable: true
            },
            view: {
                addHoverDom: addHoverDom,
                removeHoverDom: removeHoverDom,
                dblClickExpand: false,
                showLine: true,
                selectedMulti: false
            },
            data: {
                simpleData: {
                    enable:true,
                    idKey: "id",
                    pIdKey: "pId",
                    rootPId: ""
                }
            },
            callback: {
                beforeClick: function(treeId, treeNode) {
                    var zTree = $.fn.zTree.getZTreeObj("tree");
                    if (treeNode.isParent) {
                        zTree.expandNode(treeNode);
                        return false;
                    } else {
                        postDate(treeNode.file);
                        return true;
                    }
                }
            }
        };
        var zNodes =[
            {id:1, pId:0, name:"方顶村", open:true},
            {id:101, pId:1, name:"室内实时温度", file:"1"},
            {id:102, pId:1, name:"湿度", file:"2"},
            {id:104, pId:1, name:"顶壁面温度", file:"3"},
            {id:106, pId:1, name:"地面壁面温度", file:"4"},
            {id:107, pId:1, name:"相对温度", file:"5"},
        ];

        $(document).ready(function(){
            var t = $("#tree");
            t = $.fn.zTree.init(t, setting, zNodes);
            postDate(1);
            var zTree = $.fn.zTree.getZTreeObj("tree");
            zTree.selectNode(zTree.getNodeByParam("id", 101));
        });

    })(jQuery, window, document);
</script>
<script type="text/javascript">
    postDate = function(type) {
        var tableDate = $("tableDate").val();
        var url = "/OnlineMonit/getindoorHle?testType=" + type;
        $.post(url,
                function(data) {
                    var myData = eval('(' + data + ')');
                    getCharts(myData[0].time,type);
                    var table = "<tr><td>仪表名称:温度仪</td><td>仪表品牌:威盛</td></tr>";
                    if (type == 1){
                        for (var i = 0; i < myData.length; i++) {
                            table += "<tr><td colspan='2'>最近一次采集时间:" + myData[i].time
                                    + "</td></tr>"+"<tr><td>客厅温度:<span class='green-span'>"
                                    + myData[i].date1_1 + "</span>" + myData[i].unit
                                    + "</td><td>饭厅温度:<span class='green-span'>"+ myData[i].date1_2 + "</span>" + myData[i].unit
                                    + "</td></tr>"+"<tr><td>卧室温度:<span class='green-span'>"
                                    + myData[i].date2_1 + "</span>" + myData[i].unit
                                    + "</td><td>门厅温度:<span class='green-span'>"+ myData[i].date2_2 + "</span>" + myData[i].unit
                                    + "</td></tr>"+"<tr><td>卫生间温度:<span class='green-span'>"
                                    + myData[i].date3_1 + "</span>" + myData[i].unit
                                    + "</td><td>厨房温度:<span class='green-span'>"+ myData[i].date3_2 + "</span>" + myData[i].unit
                                    + "</td></tr>";
                        }
                        $("#tableDate").html(table);
                        var title = "<b>" + myData[0].title + "</b>";
                        $("#title").html(title);
                    } else if (type == 2){
                        for (var i = 0; i < myData.length; i++) {
                            table += "<tr><td colspan='2'>最近一次采集时间:" + myData[i].time
                                    + "</td></tr>"+"<tr><td>客厅湿度:<span class='green-span'>"
                                    + myData[i].date1_1 + "</span>" + myData[i].unit
                                    + "</td><td>饭厅湿度:<span class='green-span'>"+ myData[i].date1_2 + "</span>" + myData[i].unit
                                    + "</td></tr>"+"<tr><td>卧室湿度:<span class='green-span'>"
                                    + myData[i].date2_1 + "</span>" + myData[i].unit
                                    + "</td><td>门厅湿度:<span class='green-span'>"+ myData[i].date2_2 + "</span>" + myData[i].unit
                                    + "</td></tr>"+"<tr><td>卫生间湿度:<span class='green-span'>"
                                    + myData[i].date3_1 + "</span>" + myData[i].unit
                                    + "</td><td>厨房湿度:<span class='green-span'>"+ myData[i].date3_2 + "</span>" + myData[i].unit
                                    + "</td></tr>";
                        }
                        $("#tableDate").html(table);
                        var title = "<b>" + myData[0].title + "</b>";
                        $("#title").html(title);
                    } else if (type > 2){
                        for (var i = 0; i < myData.length; i++) {
                            table += "<tr><td>最近一次采集时间:" + myData[i].time
                                    + "</td><td>采集数据:<span class='green-span'>"
                                    + myData[i].date + "</span>" + myData[i].unit
                                    + "</td>";
                        }
                        $("#tableDate").html(table);
                        var title = "<b>" + myData[0].title + "</b>";
                        $("#title").html(title);
                    }
                });
    }
    getCharts = function (lastTime, type) {
        //最近6小时
        var url = "/OnlineMonit/indoorHleData?testType=" + type + "&lastTime=" + lastTime;
        $.getJSON(url, function (data) {
            var series = [];
            if (typeof(data.series) != "undefined") {
                $.each(data.series, function (index, chartArray) {
                    var datas = [];
                    var date;
                    $.each(chartArray, function (idx, chartData) {
                        date = chartData.time;
                        date = date.replace(/-/g,"/");
                        datas.push([Date.parse(date), chartData.value]);
                    });
                    series.push({
                        name: index,
                        data: datas
                    });
                });
            }

            $('#main').highcharts({
                exporting: {
                    enabled: false
                },
                chart: {
                    type: data.type,
                    zoomType: 'x'
                },
                title: {
                    text: data.title,
                    x: -20 //center
                },
                subtitle: {
                    text: data.subtitle,
                    x: -20
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: {
                        day: '%H:%M'
                    }
                },
                yAxis: {
                    title: {
                        text: data.yAxis_title
                    }
                },
                tooltip: {
                    shared: true,
                    valueSuffix: data.tooltip
                },
                series: series
            });
        });
    }
</script>