#{extends 'OnlineMonitLeft.html' /}

<div class="con-right">
	<div class="mon-con">
		<h3 class="mon-con-h3">监测方案说明</h3>
		<p class="mon-con-p">
			<label class="mon-con-lab"> 为响应 “十二五“
				国家科技支持计划，对能源消耗实现有效管理监测，做为标杆试点性项目率先在国内实行。项目的监测主题是农村住宅区域，
				监测主要指标有室内外环境的温湿度、水电等。 </label> <img src="@{'/public/images/leaf.jpg'}"
				width="600" height="350px" /> <label class="mon-con-lab">
				首先，能源自维持监测展示平台项目实现了在线对监测数据的展示功能，通过对监测的数据处理展示出环境温度等随时间变化而不同的曲线视图，
				方便人员直观的查看，便于理解。并且提供了对数据的分析模块，用户不仅可以在线查询当前的监测指标数据的变化，还可以通过数据分析模块，
				选择不同的指标进行单因素或多因素分析，实现了多角度全方位的展示数据，便于数据的理解和针对性。 </label> <label
				class="mon-con-lab">
				其次，针对不同监测数据，设计不同的数据库表，对监测数据实现分门别类的保存，不仅实现了对重点监测数据的入库保存，
				还实现了数据异地远程服务器上的重要数据备份，提高了安全可靠性，为下一步科学研究提供了有效的保障。对异常数据提供预警机制，
				例如：某个监测点的温度多日拿不到数据，或者数据多个时间点没有发生变化，则触发预警机制，平台将会以邮件的方式发给处理人员，
				大大的提高了数据监测的有效性准确性，防止了异常数据的大量存在。 </label>
		</p>
	</div>
</div>
