#{extends 'OnlineMonitLeft.html' /} #{set title:'方顶村-室外' /}
<div class="con-right">
    <div class="cdcs-d">
        <nav class="navbar navbar-default nav-stacked">
            <span class="navbar-brand col-white" href="#"> 测点参数 </span>
        </nav>
        <ul id="tree" class="ztree"
            style="width: 550px; overflow: auto; z-index: 500;"></ul>
    </div>
    <div class="cdcs-rig-d">
        <div class="row">
            <div class="col-sm-12">
                <section class="panel" style="">
                    <div class="list-group-item active">
                        <h5 class="h5-tit">室外环境</h5>
                    </div>
                    <div class="ene-rig-d">
                        <p class="ene-p-tit">>>仪表/传感器基本信息</p>
                        <div class="ene-type-d">
                            <div id="title"></div>
                            <table width="100%" class="ene-tab" id="tableDate">
                            </table>
                            <p class="ene-p-tit">>>[能耗]实时曲线（最近6小时曲线）</p>
                            <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                            <div id="main" class="curve-d"></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<script>
    //测点参数tree-JS
    (function($, window, document, undefined) {
        var zTree;
        var demoIframe;

        function addHoverDom(treeId, treeNode) {
            var sObj = $("#" + treeNode.tId + "_span");
            if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;
            var addStr = "<span class='button remove' id='removeBtn_" + treeNode.tId
                    + "' title='add node' onfocus='this.blur();'></span>";

            addStr += "<span class='button add' id='addBtn_" + treeNode.tId + "'></span>";
            addStr += "<span class='button edit' id='editBtn_" + treeNode.tId + "'></span>";
            sObj.after(addStr);
            var btn = $("#addBtn_"+treeNode.tId);
            if (btn) btn.bind("click", function(){
                var zTree = $.fn.zTree.getZTreeObj("treeDemo");
                zTree.addNodes(treeNode, {id:(1000 + newCount), pId:treeNode.id, name:"new node" + (newCount++)});
                return false;
            });
        }

        function removeHoverDom(treeId, treeNode) {
            $("#addBtn_"+treeNode.tId).unbind().remove();
            $("#removeBtn_"+treeNode.tId).unbind().remove();
            $("#editBtn_"+treeNode.tId).unbind().remove();
        }

        var setting = {
            check: {
                enable: true
            },
            view: {
                addHoverDom: addHoverDom,
                removeHoverDom: removeHoverDom,
                dblClickExpand: false,
                showLine: true,
                selectedMulti: false
            },
            data: {
                simpleData: {
                    enable:true,
                    idKey: "id",
                    pIdKey: "pId",
                    rootPId: ""
                }
            },
            callback: {
                beforeClick: function(treeId, treeNode) {
                    var zTree = $.fn.zTree.getZTreeObj("tree");
                    if (treeNode.isParent) {
                        zTree.expandNode(treeNode);
                        return false;
                    } else {
                        postDate(treeNode.file);
                        return true;
                    }
                }
            }
        };
        var zNodes =[
            {id:1, pId:0, name:"方顶村", open:true},
            {id:101, pId:1, name:"室外温度", file:"1"},
            {id:102, pId:1, name:"室外湿度", file:"2"},
            {id:103, pId:1, name:"室外压力", file:"3"},
            {id:104, pId:1, name:"室外风速", file:"4"},
            {id:105, pId:1, name:"总辐射", file:"5"},
            {id:106, pId:1, name:"直接辐射", file:"6"},
        ];

        $(document).ready(function(){
            var t = $("#tree");
            t = $.fn.zTree.init(t, setting, zNodes);
            postDate(1);
            var zTree = $.fn.zTree.getZTreeObj("tree");
            zTree.selectNode(zTree.getNodeByParam("id", 101));

        });

    })(jQuery, window, document);
</script>
<script>
    //传感器基本信息
    postDate = function(type) {
        var tableDate = $("tableDate").val();
        var url = "/OnlineMonit/getoutdoorHle?testType=" + type + "&where=hle";
        $.post(url,function(data) {
            var myData = eval('(' + data + ')');
            getCharts(myData[0].time,type);
            var table = "<tr><td>仪表名称:温度仪</td><td>仪表品牌:威盛</td></tr>";
            for (var i = 0; i < myData.length; i++) {
                table += "<tr><td>最近一次采集时间:" + myData[i].time
                        + "</td><td>采集数据:<span class='green-span'>"
                        + myData[i].date + "</span>" + myData[i].unit
                        + "</td>";
            }
            $("#tableDate").html(table);
            var title = "<b>" + myData[0].title + "</b>";
            $("#title").html(title);
        });
    }
    getCharts = function(lastTime,type){
        //最近6小时
        var url = "/OnlineMonit/outdoorHleData?testType=" + type + "&lastTime=" + lastTime;
        $.getJSON(url, function (data){
            var series=[];
            if(typeof(data.series) != "undefined"){
                $.each(data.series, function(index, chartArray){
                    var datas = [];
                    var date;
                    $.each(chartArray, function(idx, chartData){
                        date = chartData.time;
                        date = date.replace(/-/g,"/");
                        datas.push([Date.parse(date),chartData.value]);
                    });
                    series.push({
                        name: index,
                        data: datas
                    });
                });
            }

            $('#main').highcharts({
                exporting:{
                    enabled:false
                },
                chart: {
                    type: data.type,
                    zoomType: 'x'
                },
                title: {
                    text: data.title,
                    x: -20 //center
                },
                subtitle: {
                    text: data.subtitle,
                    x: -20
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: {
                        day: '%H:%M'
                    }
                },
                yAxis: {
                    title: {
                        text: data.yAxis_title
                    }
                },
                tooltip: {
                    shared: true,
                    valueSuffix: data.tooltip
                },
                series: series
            });
        });
    }
</script>