#{extends 'FaultAlarmLeft.html' /}
<style>
    iframe {
        width: 100%;
        border: 20px;
        height: 410px;
    }
</style>
<div class="con-right">
    <div class="cdcs-rig-d" style="margin-left:10px;background:#fff;padding:10px">

        <div class="ene-rig-d" style="margin:0;padding:0">
            <p class="ene-p-tit">>>监测异常告警数据记录</p>
            <div class="ene-type-d" id="tableDate">
            </div>
        </div>
        <div class="table">
            <div id="crudListTable">
            #{crud.tsmtable fields:['邮箱地址','用户名','发送时间','告警内容','操作'] }
			#{/crud.tsmtable}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var resultDataTable;
    $(document).ready(function(){
        getAlarmList();
    });

    function deleteAlarm(sid) {
        $.ajax({
            url: "/FaultAlarm/delMonitoring",
            data: {
                id: sid,
            },
            success: function () {
                window.location.reload();
            }
        })
    }

    function getAlarmList(){

        var $searchResult = $('#crudListTable table');
        if (resultDataTable) {
            resultDataTable.fnClearTable(false);
            $searchResult.dataTable().fnDestroy();
        }  else {
            $searchResult.show();
        }
        resultDataTable = $('#crudListTable table').dataTable({
            "bProcessing": true,
            "bServerSide": false,
            "iDisplayLength": 20,
            "bLengthChange": false,
            "sPaginationType":"full_numbers",
            "oLanguage": {
                "sZeroRecords": "没有任何数据",
                "sSearch":"搜索 ",
                "oPaginate": {
                    "sFirst":"首页",
                    "sPrevious":"上一页",
                    "sNext":"下一页",
                    "sLast":"最后一页"
                }
            },
            "sAjaxSource": '/FaultAlarm/getMonitoringAlarm',
            "fnServerParams": function ( aoData ) {
                $(".dataTables_info").hide();
                aoData.push( { "name": "Fields", "value": "email, username, emailTime, content,del"} );
            }
        });
    }
</script>