#{extends 'Secure/layout.html' /}

<form id="form_user" action="" method="POST"
	style="float: left; width: 620px;">
	<h2>正在激活帐号</h2>
	<input type="hidden" name="id" value="2724892"> <input
		type="hidden" name="code"
		value="C3WevJvYRpAU83kHtJPZwODzZrgqrBa7UuBXyq4F">
	<table>
		<tbody>
			<tr>
				<td colspan="2" style="padding: 20px 0; color: #40AA53;">您已经成功激活。</td>
			</tr>
			<tr>
				<td><a href="http://localhost:9000/secure/login">转到登录页面？</a></td>
			</tr>
		</tbody>
	</table>
</form>

<script>
   
</script>

</body>
</html>