<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/crud.css'}"/>
<link href="@{'/public/css/bootstrap.min.css'}" rel="stylesheet">
<script src="@{'/public/javascripts/jquery/jquery.min.js'}" type="text/javascript"></script>
<script src="@{'/public/javascripts/bootstrap.min.js'}" type="text/javascript"></script>
<style type="text/css">
    table {
        width:100%;
        font-size:11px;
    }
    body {background-color:transparent}
    html {overflow-x:hidden;}
</style>
#{doLayout /}
