#{extends 'main.html' /}
<!-- 左侧 -->
<div class="con-left">
    <div id="main-menu" role="navigation">
        <div id="main-menu-inner">
            <ul class="navigation">
                <li class="mm-dropdown"><a href="#"><span class="mm-text">监测数据异常</span></a>
                    <ul class="two-ul">
                        <li><a href="@{FaultAlarm.monitorManage()}"><span class="mm-text">告警邮件设置</span></a></li>
                        <li><a href="@{FaultAlarm.monitorList()}"><span class="mm-text">监测数据异常告警</span></a></li>
                    </ul>
                </li>
                <li class="mm-dropdown"><a href="#"><span class="mm-text">通信异常</span></a>
                    <ul class="two-ul">
                        <li><a href="@{FaultAlarm.communicationManage()}"><span class="mm-text">告警邮件设置</span></a></li>
                        <li><a href="@{FaultAlarm.communicationList()}"><span class="mm-text">通信异常告警</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
#{doLayout /}